<link rel="import" href="../node_modules/ui-sparkline/src/ui-sparkline.html">
<link rel="import" href="../node_modules/glg-current-user/src/glg-current-user.html">
<link rel="import" href="../lib/core-ajax.html">
<polymer-element name="glg-stats" attributes="currentuser gtc_rates most_recent_gtc_rate">
<template>
  <core-ajax
    id="getstats"
    handleAs="json"
    on-core-response="{{onquery}}"
    withCredentials
    url="https://query.glgroup.com/rm/getRmRecentGtcRate.mustache?personId={{currentuser.personId}}">
  </core-ajax>
  <glg-current-user currentuser="{{currentuser}}"> </glg-current-user>
  <section id="display">
    <link rel="stylesheet" type="text/css" href="./glg-stats.less">
    <ui-sparkline data="{{gtc_rates}}"></ui-sparkline>
    <label>GTC'd Rates ${{most_recent_gtc_rate}}</label>
  </section>
</template>
<script src="./glg-stats.litcoffee"></script>
</polymer-element>
